include ../../shared/card/cardMixins
include ../../shared/translations/translationsMixins

div.column.is-3
    div.card
        +cardImage("/albums/" + album.id, album.images, "Album Image")
        div.card-content
            div.content
                h5.title.is-5= album.name
                div.tags.are-medium
                    div.tag.is-info.is-capitalized
                        span.icon
                            i.fas.fa-compact-disc
                        +albumTypeTranslation(album.album_type)
                    div.tag.is-info
                        span.icon
                            i.fas.fa-globe
                        span #{album.available_markets.length } #{t('common:country', {count: album.available_markets.length})}
                    div.tag.is-info
                        span.icon
                            i.far.fa-calendar
                        span= new Date(album.release_date).getFullYear()
