footer.footer.has-background-black.has-text-light
  div.content
    div.container 
      div.columns
        div.column
          p Spotify API Showcase
        div.column
          h5.is-5.has-text-light Sections
          ul
            li 
              a(href="/artists") Artists
            li 
              a(href="/albums") Albums
            li 
              a(href="/tracks") Tracks