nav.navbar.is-black(role="navigation", aria-label="main navigation")
    div.container
        div.navbar-brand
            a.navbar-item.has-text-weight-bold(href="/") Spotify API Showcase
            a.navbar-burger.burger(role="button", aria-label="menu", aria-expanded="false", data-target="navbarMenu")
                span(aria-hidden="true")
                span(aria-hidden="true")
                span(aria-hidden="true")


        div#navbarMenu.navbar-menu
            div.navbar-start
                a.navbar-item(href="/artists")
                    span.icon
                        i.fas.fa-users
                    span Artists
                a.navbar-item(href="/albums")
                    span.icon
                        i.fas.fa-compact-disc
                    span Albums
                a.navbar-item(href="/tracks")
                    span.icon
                        i.fas.fa-music
                    span Tracks

            div.navbar-end
                if user
                    div.navbar-item.has-dropdown.is-hoverable
                        a.navbar-link
                            span.icon
                                i.fab.fa-spotify
                            span Logged as: #{user.username}
                        div.navbar-dropdown
                            a.navbar-item(href=user.profileUrl)
                                span.icon
                                    i.fas.fa-user
                                span My Profile
                            a.navbar-item(href="/logout")
                                span.icon
                                    i.fas.fa-sign-out-alt
                                span Logout
                else
                    div.navbar-item
                        a(href="/auth/spotify") Log in with Spotify