mixin searchBar(action, placeholder)
    div.columns.is-centered
        div.column.is-half
            form(action=action, method="get")
                div.field.has-addons.is-horizontal
                    div.control.is-expanded
                        input.input(type="text", name="search", placeholder=placeholder value=searchValue)
                    div.control
                        button.button.is-info(aria-label=t('common:search') ,type="submit")
                            i.fas.fa-search


