extends layout
include shared/message/messageMixins
include shared/card/cardMixins

block content
  section.hero.is-fullheight
    div.hero-body.hero-image
      div.container.has-text-centered
        span.icon
          i.fab.fa-spotify.fa-5x.has-text-light
        h3.is-size-3.has-text-light.has-text-centered= t('index:hero_text')
        if !user
          h4.is-size-4.has-text-warning= t('index:guest_warning')
        div.buttons.is-justify-content-center
          a.button.is-success.is-rounded.is-medium(href="#main-features")= t('index:learn_more')
          if !user
            a.button.is-success.is-rounded.is-medium(href="/auth/spotify")= t('common:login')


  section.section#main-features
      div.container
        div.columns.is-multiline
          +featureCard("fas fa-users fa-5x has-text-success", t('common:artist_plural'), t('index:artists_section_description'))
          +featureCard("fas fa-compact-disc fa-5x has-text-success", t('common:album_plural'), t('index:album_section_description'))
          +featureCard("fas fa-music fa-5x has-text-success", t('common:track_plural'), t('index:track_section_description'))
          +featureCard("fas fa-language fa-5x has-text-success", t('index:multilingual'), t('index:multilingual_feature_description'))
