extends layout

block content
  section.hero#page_description_section
    div.hero-body
      div.container
        h1.title.has-text-light Spotify API Showcase
        h2.subtitle.has-text-light Extended search using Spotify API.

  section.hero.is-medium.is-light.is-bold
    div.hero-body
      div.container
        h2.title Main Features
        div.columns.is-vcentered.is-centered
          div.column.is-narrow.is-offset-1
            span.icon
              i.fas.fa-users.fa-5x
          div.column.is-offset-1
            h3.title Search Artists
            p.subtitle With Spotify API you can obtain additional info about your favorite artists like their genres.
            a.button.is-black.is-outlined(href="/artists") Go to Search Artists Page
        div.columns.is-vcentered.is-centered
          div.column.is-narrow.is-offset-1
            span.icon
              i.fas.fa-compact-disc.fa-5x
          div.column.is-offset-1
            h3.title Search Albums
            p.subtitle With Spotify API you can obtain additional info about your favorite albums like the countries that they are available.
            a.button.is-black.is-outlined(href="/albums") Go to Search Albums Page
        div.columns.is-vcentered.is-centered
          div.column.is-narrow.is-offset-1
            span.icon
              i.fas.fa-music.fa-5x
          div.column.is-offset-1
            h3.title Search Tracks
            p.subtitle With Spotify API you can obtain additional info about your favorite tracks like the countries that they are available.
            a.button.is-black.is-outlined(href="/tracks") Go to Search Tracks Page

