doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/bulma/bulma.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/font-awesome/css/all.css')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="Description", content=meta_description)
    script(type="text/javascript", src="/javascripts/navbar.js")
  body.has-background-dark.has-navbar-fixed-top
    include shared/navbar/navbar
    main
      block content
