extends ../layout
include ../shared/searchbar/searchBarMixin
include ../shared/card/cardMixins
include ../shared/message/messageMixins
include ../shared/translations/translationsMixins

block content
    section.section
        div.container
            +searchBar("/albums", t('albums:search_albums'))
            if searchResults
                if searchResults.length === 0
                    +message('message is-warning', t('albums:no_albums_found'))
                div.columns.is-multiline
                    each album in searchResults
                        div.column.is-3
                            div.card
                                +cardImage("/albums/" + album.id, album.images, "Album Image")
                                div.card-content
                                    div.content
                                        p.title.is-4= album.name
                                        div.tags.are-medium
                                            div.tag.is-info.is-capitalized
                                                span.icon
                                                    i.fas.fa-compact-disc
                                                +albumTypeTranslation(album.album_type)
                                            div.tag.is-info
                                                span.icon
                                                    i.far.fa-calendar
                                                span= new Date(album.release_date).getFullYear()
                                            div.buttons
                                                each artist in album.artists
                                                    a.button.is-info(href="artists/" + artist.id)
                                                        span.icon
                                                            i.fas.fa-users
                                                        span= artist.name
