mixin navbarItem(href, icon, text)
    a.navbar-item(href=href)
        span.icon
           i(class=icon)
        span= text

mixin navbarLangItem(language, languageCode)
    a(class='navbar-item' href='/lang/' + languageCode)= language