extends ../layout
include ../shared/searchbar/searchBarMixin
include ../shared/card/cardMixins
include ../shared/message/messageMixins

block content
    section.section
        div.container
            +searchBar("/tracks", t('tracks:search_tracks'))
            if searchResults
                if searchResults.length === 0
                    +message('message is-warning', t('tracks:no_tracks_found'))
                div.columns.is-multiline
                    each track in searchResults
                        div.column.is-3
                            div.card
                                +cardImage("/tracks/" + track.id, track.album.images, "Track Album Image")
                                div.card-content
                                    div.media-content
                                        p.title.is-4= track.name
                                    div.content
                                        div.buttons
                                            a.button.is-info.is-fullwidth.is-block(href="albums/" + track.album.id)
                                                span.icon
                                                    i.fas.fa-compact-disc
                                                span= track.album.name
                                                each artist in track.artists
                                                    a.button.is-info.is-fullwidth.is-block(href="artists/" + artist.id)
                                                        span.icon
                                                            i.fas.fa-users
                                                        span= artist.name
