extends ../layout
include ../shared/searchbar/searchBarMixin
include ../shared/card/cardMixins
include ../shared/message/messageMixins

block content
    section.section
        div.container
            +searchBar("/artists", t('artists:search_artists'))
            if searchResults
                if searchResults.length === 0
                    +message('message is-warning', t('artists:no_artists_found'))
                div.columns.is-multiline
                    each artist in searchResults
                        div.column.is-desktop.is-3
                            div.card
                                +cardImage("/artists/" + artist.id, artist.images, "Artist Image")
                                div.card-content
                                    div.media-content
                                        p.title.is-4= artist.name
                                    div.content
                                        div.tags
                                            each genre in artist.genres
                                                span.tag.is-info= genre
